.card {
  margin: 0 auto;
  background-color: #fff;
  padding: 1rem;
  @include border-radius($border-radius);
  @include box-shadow(rgba(153, 153, 153, 1) 1px 1px 5px 0);
  @include transition-property(all);
  @include transition-duration(0.25s);
  @include transition-timing-function(ease-out);
  &:hover {
    @include box-shadow(rgba(153, 153, 153, 1) 3px 3px 15px 0);
    margin-top: -2px;
    margin-bottom: 2px;
  }
}

.card-image {
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
  @include border-top-radius($border-radius);
}

.card-thumbnails {
  display: flex;
  margin: 1rem 0;
  .thumb {
    margin: 0 1%;
    @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.24));
    @include border-radius(5px);
    background-color: #eee;
    img {
      padding: 5%;
      width: 100%;
    }
  }
}

.card-text {
  p {
    color: #555;
  }
}

.card-options a {
  margin-right: 1rem;
}

.skill-img {
  height: 25px;
  margin-right: 0.25rem;
}

.card-overlay {
  overflow: scroll;
  margin: 100vh auto 0;
  padding: 1rem 2rem 2rem;
  background-color: #fff;
  @include border-radius($border-radius);
}

.card-close-btn-container {
  width: 100%;
}

.card-close-btn {
  float: right;
  font-size: 3rem;
  color: #BBB;
  //margin-right: 0.8rem;
}

.card-options {
  margin-top: 1rem;
  text-align: end;
  a {
    font-size: 1.25rem;
  }
}